<h1>It's <%= $game.attacker.name %> versus <%= $game.defender.name %>! </h1>
<h3><%= @player_one.name %>: <%= @player_one.hit_points %> </h3>
<h3><%= @player_two.name %>: <%= @player_two.hit_points %> </h3>
<form action="/attack" method="get">
  <input type="submit" value="Attack">
</form>
